:root {
  --primary-color: #e5bf34;
  --secondary-color: #0000ff;
  --tertiary-color: #fff;
  --text-color: #892953;


  --small: 1rem;
  --medium: 2rem;
  --big: 3rem;

  --transition-speed: .15s;

  --border-width: .25rem;

  --font-family:  'Bebas Neue', cursive;
  --font-family-text: 'Roboto Slab', serif;

}

.register-section {

}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$fa-font-path:        "../webfonts";