@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;600;700&display=swap');


h1, h2, h3, h4 {
  font-family: var(--font-family);;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}


h1 {
  font-size: 3rem;
  &.big {
    font-size: 7.5rem;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-family: var(--font-family-text);
  color: var(--text-color);

}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }

}

@media only screen and (max-width: 767px) {
  h1 {
    &.big {
      font-size: 2.5rem;

    }
  }
  h2 {
    font-size: 1.75rem;
  }
}



@media only screen and (max-width: 445px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
