@import "custom_variables";
@import "custom_mixins";
.post, .article {
  background: white;
  padding: 1.5rem;
  &:after {
    content: '';
    position: absolute;
    top: .5rem;
    right: .5rem;
    bottom: .5rem;
    left: .5rem;
    border: 2px solid var(--secondary-color);
    pointer-events: none;
  }
}
